appnope==0.1.0
astroid==2.4.2
backcall==0.2.0
cffi==1.11.5
cloudpickle==0.5.3
cycler==0.10.0
dask==0.18.2
decorator==4.3.0
imageio==2.3.0
imagezmq==1.1.1
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
matplotlib==2.2.2
mccabe==0.6.1
networkx==2.1
numpy==1.15.0
opencv-python==4.3.0.36
pandas==0.23.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==5.2.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycparser==2.18
pygit==0.1
Pygments==2.6.1
pylint==2.5.3
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
PyYAML==5.1
pyzmq==19.0.1
ratelimit==2.2.1
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
six==1.15.0
throttle==0.2.2
toml==0.10.1
toolz==0.9.0
torch==1.0.0
torchvision==0.2.1
tqdm==4.24.0
traitlets==4.3.3
typed-ast==1.4.1
wcwidth==0.2.5
wrapt==1.12.1
